In [1]:
import numpy as np 
import pandas as pd

np.random.seed(42)

In [5]:
iter_df = pd.DataFrame({"OrderDate": pd.date_range(start="2025-01-01", end="2025-08-31").tolist()})
df = pd.DataFrame(columns=["OrderNumber", "OrderDate", "Amount", "ShippingCost", "COGS", "Return", "ProductLine"])

for i in range(len(iter_df)):
    orderDate = pd.to_datetime(iter_df.OrderDate.iloc[i])

    join_df = pd.DataFrame()
    cnt_orders = np.random.randint(low=0, high=20)

    returns = [0,0,0,0,0,0,0,0,0,1] # 1 in 10 chance of return
    products = ["Clothing", "Beauty", "Electronics", "Home"]
    
    # for order in range(cnt_orders):
    join_df["OrderNumber"] = np.random.randint(low=10000, high=99999, size=cnt_orders)
    join_df["OrderDate"] = [orderDate for i in range(cnt_orders)]
    join_df["Amount"] = np.round(np.random.uniform(low=5, high=100, size=cnt_orders), 2)
    join_df["ShippingCost"] = np.round(join_df["Amount"] * np.random.uniform(0.01, 0.10, cnt_orders), 2)
    join_df["COGS"] = np.round(join_df["Amount"] * np.random.uniform(0.15, 0.30, cnt_orders), 2)
    join_df["Return"] = np.random.choice(returns, size=cnt_orders)
    join_df["ProductLine"] = np.random.choice(products, size=cnt_orders)

    df = pd.concat([df, join_df])

In [6]:
df = df.reset_index(drop=True)
df

,OrderNumber,OrderDate,Amount,ShippingCost,COGS,Return,ProductLine
0,52500,2025-01-01 00:00:00,72.91,0.77,12.87,0,Clothing
1,13956,2025-01-01 00:00:00,74.17,7.36,15.17,0,Clothing
2,82089,2025-01-01 00:00:00,68.32,1.81,14.08,0,Electronics
3,98789,2025-01-01 00:00:00,87.73,4.59,26.23,0,Home
4,99451,2025-01-01 00:00:00,87.66,7.76,26.23,0,Home
...,...,...,...,...,...,...,...
2367,92702,2025-08-30 00:00:00,80.29,3.28,20.37,0,Beauty
2368,29970,2025-08-30 00:00:00,47.06,1.0,13.63,0,Beauty
2369,13794,2025-08-30 00:00:00,73.83,4.73,12.38,0,Clothing
2370,39184,2025-08-30 00:00:00,59.02,2.59,9.4,0,Electronics
2371,41562,2025-08-31 00:00:00,77.39,6.56,14.3,0,Clothing

In [4]:
df.to_excel("SalesData.xlsx")