In [1]:
import numpy as np 
import pandas as pd

array([1000, 2000, 3000, 4000, 5000])

In [43]:
def Create_Warehouses(NumberOfWarehouses=5, Latitude_Range=[34, 35], Longitude_Range=[-81, -80]):

    Warehouse_df = pd.DataFrame({
        "WarehouseID": pd.Series(dtype=int),
        "WH_Latitude": pd.Series(dtype=float),
        "WH_Longitude": pd.Series(dtype=float),
        "Volume": pd.Series(dtype=int)
    })

    Warehouse_df["WarehouseID"] = np.arange(1, NumberOfWarehouses + 1, 1, dtype=int) * 1000
    Latitude_Min, Latitude_Max = Latitude_Range[0], Latitude_Range[1]
    Longitude_Min, Longitude_Max = Longitude_Range[0], Longitude_Range[1]

    Warehouse_df["WH_Latitude"] = np.random.uniform(Latitude_Min, Latitude_Max, NumberOfWarehouses)
    Warehouse_df["WH_Longitude"] = np.random.uniform(Longitude_Min, Longitude_Max, NumberOfWarehouses)

    Warehouse_df["Volume"] = np.random.randint(2, 8, NumberOfWarehouses) # The volume each WH gets

    return Warehouse_df

wh_df = Create_Warehouses(NumberOfWarehouses=10)
wh_df

   WarehouseID  WH_Latitude  WH_Longitude  Volume
0         1000    34.299117    -80.929581       4
1         2000    34.620286    -80.677805       6
2         3000    34.710669    -80.064851       7
3         4000    34.704769    -80.233302       5
4         5000    34.142351    -80.015245       2
5         6000    34.355780    -80.018480       2
6         7000    34.401227    -80.470842       6
7         8000    34.816364    -80.963581       6
8         9000    34.474376    -80.407939       3
9        10000    34.538936    -80.593487       6

In [44]:
iter_df = pd.DataFrame({"ShipmentDate": pd.date_range(start="2025-01-01", end="2025-08-31").tolist()})
df = pd.DataFrame(columns=["ShipmentID", "ShipmentDate", "WarehouseID", "ItemCount", "TotalWeight", "COGS", "Revenue", "Profit"])

for i in range(len(iter_df)):
    ShipmentDate = pd.to_datetime(iter_df.ShipmentDate.iloc[i])


    for j in range(len(wh_df)):

        join_df = pd.DataFrame()

        WarehouseID = wh_df.WarehouseID.iloc[j]
        Volume = wh_df.Volume.iloc[j]

        cnt_shipments = np.random.randint(low=0, high=Volume)

        join_df["ShipmentID"] = np.random.randint(10000, 99999, size=cnt_shipments)
        join_df["ShipmentDate"] = [ShipmentDate for i in range(cnt_shipments)]
        join_df["WarehouseID"] = [WarehouseID for i in range(cnt_shipments)]
        join_df["ItemCount"] = np.random.randint(100, 1000, size=cnt_shipments)
        join_df["TotalWeight"] = np.random.uniform(1000, 10000, size=cnt_shipments)
        join_df["COGS"] = join_df["TotalWeight"] * np.random.uniform(0, 0.5, size=cnt_shipments)
        join_df["Revenue"] = join_df["TotalWeight"] * np.random.uniform(2, 3, size=cnt_shipments)
        join_df["Profit"] = join_df["Revenue"] - join_df["COGS"]

        df = pd.concat([df, join_df])

In [45]:
df = pd.merge(df, wh_df, on="WarehouseID", suffixes=('', '_y'))
df = df.drop("Volume", axis=1)
df

,ShipmentID,ShipmentDate,WarehouseID,ItemCount,TotalWeight,COGS,Revenue,Profit,WH_Latitude,WH_Longitude
0,42351,2025-01-01 00:00:00,2000,149,7568.477163,1158.452027,18613.012957,17454.560929,34.620286,-80.677805
1,29206,2025-01-01 00:00:00,2000,188,2528.280755,761.916285,6068.309094,5306.392809,34.620286,-80.677805
2,96717,2025-01-01 00:00:00,2000,146,1253.80321,337.682126,3761.114047,3423.431921,34.620286,-80.677805
3,79877,2025-01-01 00:00:00,2000,366,3911.097507,16.264838,11306.652394,11290.387556,34.620286,-80.677805
4,95653,2025-01-01 00:00:00,3000,410,4291.569148,550.173779,12193.705603,11643.531824,34.710669,-80.064851
...,...,...,...,...,...,...,...,...,...,...
4434,63851,2025-08-31 00:00:00,8000,259,8463.718696,1714.693195,24451.193303,22736.500108,34.816364,-80.963581
4435,24755,2025-08-31 00:00:00,8000,269,6699.138577,986.708375,19044.036052,18057.327676,34.816364,-80.963581
4436,58994,2025-08-31 00:00:00,9000,614,8765.634145,2380.793047,26011.229282,23630.436235,34.474376,-80.407939
4437,78579,2025-08-31 00:00:00,10000,725,3777.676552,1484.664721,8249.002849,6764.338128,34.538936,-80.593487
4438,71258,2025-08-31 00:00:00,10000,578,5910.456339,2497.985286,13975.055949,11477.070664,34.538936,-80.593487

In [46]:
df.to_excel("Warehouse_Data.xlsx")