In [1]:
import numpy as np 
import pandas as pd 

np.random.seed(100)

In [2]:
def Create_Warehouses(NumberOfWarehouses=5, Latitude_Range=[34, 35], Longitude_Range=[-81, -80]):

    Warehouse_df = pd.DataFrame({
        "WarehouseID": pd.Series(dtype=int),
        "WH_Latitude": pd.Series(dtype=float),
        "WH_Longitude": pd.Series(dtype=float),
        "Volume": pd.Series(dtype=int)
    })

    Warehouse_df["WarehouseID"] = np.arange(1, NumberOfWarehouses + 1, 1, dtype=int) * 1000
    Latitude_Min, Latitude_Max = Latitude_Range[0], Latitude_Range[1]
    Longitude_Min, Longitude_Max = Longitude_Range[0], Longitude_Range[1]

    Warehouse_df["WH_Latitude"] = np.random.uniform(Latitude_Min, Latitude_Max, NumberOfWarehouses)
    Warehouse_df["WH_Longitude"] = np.random.uniform(Longitude_Min, Longitude_Max, NumberOfWarehouses)

    Warehouse_df["Volume"] = np.random.randint(2, 8, NumberOfWarehouses) # The volume each WH gets

    return Warehouse_df

wh_df = Create_Warehouses(NumberOfWarehouses=10)
wh_df

   WarehouseID  WH_Latitude  WH_Longitude  Volume
0         1000    34.543405    -80.108678       5
1         2000    34.278369    -80.790798       5
2         3000    34.424518    -80.814672       5
3         4000    34.844776    -80.891623       3
4         5000    34.004719    -80.780303       3
5         6000    34.121569    -80.021376       7
6         7000    34.670749    -80.188317       5
7         8000    34.825853    -80.828059       2
8         9000    34.136707    -80.183775       4
9        10000    34.575093    -80.725926       3

In [3]:
iter_df = pd.DataFrame({"ShipmentDate": pd.date_range(start="2025-01-01", end="2025-08-31").tolist()})
df = pd.DataFrame(columns=["ShipmentID", "ShipmentDate", "WarehouseID", "ItemCount", "TotalWeight", "COGS", "Revenue", "Profit"])

for i in range(len(iter_df)):
    ShipmentDate = pd.to_datetime(iter_df.ShipmentDate.iloc[i])


    for j in range(len(wh_df)):

        join_df = pd.DataFrame()

        WarehouseID = wh_df.WarehouseID.iloc[j]
        Volume = wh_df.Volume.iloc[j]

        cnt_shipments = np.random.randint(low=0, high=Volume)

        join_df["ShipmentID"] = np.random.randint(10000, 99999, size=cnt_shipments)
        join_df["ShipmentDate"] = [ShipmentDate for i in range(cnt_shipments)]
        join_df["WarehouseID"] = [WarehouseID for i in range(cnt_shipments)]
        join_df["ItemCount"] = np.random.randint(100, 1000, size=cnt_shipments)
        join_df["TotalWeight"] = np.random.uniform(1000, 10000, size=cnt_shipments)
        join_df["COGS"] = join_df["TotalWeight"] * np.random.uniform(0, 0.5, size=cnt_shipments)
        join_df["Revenue"] = join_df["TotalWeight"] * np.random.uniform(2, 3, size=cnt_shipments)
        join_df["Profit"] = join_df["Revenue"] - join_df["COGS"]

        df = pd.concat([df, join_df])

In [4]:
df = pd.merge(df, wh_df, on="WarehouseID", suffixes=('', '_y'))
df = df.drop("Volume", axis=1)
df

,ShipmentID,ShipmentDate,WarehouseID,ItemCount,TotalWeight,COGS,Revenue,Profit,WH_Latitude,WH_Longitude
0,45294,2025-01-01 00:00:00,1000,503,1137.294741,340.530712,2961.293209,2620.762498,34.543405,-80.108678
1,30382,2025-01-01 00:00:00,2000,403,1328.284509,591.359943,3959.510998,3368.151055,34.278369,-80.790798
2,63685,2025-01-01 00:00:00,4000,373,7682.317202,2234.948142,16978.125194,14743.177053,34.844776,-80.891623
3,11738,2025-01-01 00:00:00,4000,684,6671.655428,68.181423,16977.260681,16909.079258,34.844776,-80.891623
4,58128,2025-01-01 00:00:00,5000,560,8671.555791,3836.52735,22536.150341,18699.62299,34.004719,-80.780303
...,...,...,...,...,...,...,...,...,...,...
3967,40255,2025-08-31 00:00:00,6000,136,9732.582051,4362.880625,20963.557053,16600.676428,34.121569,-80.021376
3968,45575,2025-08-31 00:00:00,7000,168,9609.826434,1549.954178,24660.42092,23110.466742,34.670749,-80.188317
3969,29747,2025-08-31 00:00:00,7000,959,3363.293727,1431.348553,9180.592221,7749.243668,34.670749,-80.188317
3970,64417,2025-08-31 00:00:00,7000,324,8986.906425,2730.013086,25381.197896,22651.184809,34.670749,-80.188317
3971,47509,2025-08-31 00:00:00,10000,346,8106.737308,1631.661925,16631.715393,15000.053468,34.575093,-80.725926

In [5]:
df.to_excel("Warehouse_Data.xlsx")